In [1]:
#install connector api using the command below.
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/coder/.local/lib/python3.8/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /home/coder/.local/lib/python3.8/site-packages (from mysql-connector-python) (3.20.3)

In [2]:
# Import MySQL Connector/Python 
import mysql.connector as connector
connection = connector.connect(user="root",password="")
cursor = connection.cursor()
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db;") 
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db;") 
cursor.execute("USE little_lemon_db;")
print("Using", connection.database, "database")

Using little_lemon_db database

In [3]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(200),
Role VARCHAR(200),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(200),
Annual_Salary VARCHAR(100)
);"""

In [4]:
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("Created MenuItems table")
# Create Menu table
cursor.execute(create_menu_table)
print("Created Menus table")
# Create Bookings table
cursor.execute(create_booking_table)
print("Created Bookings table")
# Create Orders table
cursor.execute(create_orders_table)
print("Created Orders table")
# Create Employees table
cursor.execute(create_employees_table)
print("Created Employees table")

Created MenuItems table
Created Menus table
Created Bookings table
Created Orders table
Created Employees table

In [5]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [6]:
# Clear the tables
# cursor.execute("""DELETE FROM Orders; 
# DELETE FROM Bookings; 
# DELETE FROM Menus;
# DELETE FROM Employees; 
# DELETE FROM MenuItems;
# """)
# connection.commit()

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()
print("Records inserted into MenuItems table.")

# Populate Menu table
cursor.execute(insert_menu)
connection.commit()
print("Records inserted into Menus table.")

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()
print("Records inserted into Bookings table.")

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()
print("Records inserted into Orders table.")

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()
print("Records inserted into Employees table.")

Records inserted into MenuItems table.
Records inserted into Menus table.
Records inserted into Bookings table.
Records inserted into Orders table.
Records inserted into Employees table.

In [7]:
# TASK 2
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [8]:
try:
    dbconfig={"database":"little_lemon_db", "user":"root", "password":""}
    pool = MySQLConnectionPool(pool_size=2, pool_name="pool_a", **dbconfig)
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [9]:
# Get the connection from the connection pool "pool"
print("Getting a connection from the pool.")
connection1 = pool.get_connection()
cursor = connection1.cursor()

Getting a connection from the pool.

In [10]:
peak_hours_query = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHours, 
        COUNT(*) AS NumberOfBookings 
    FROM Bookings 
    GROUP BY BookingHours
    ORDER BY NumberOfBookings DESC;
END
"""

guest_status_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestFullName,
        Role AS Employee,
        (CASE WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Pending'
        END) AS Status
    FROM Bookings
    LEFT JOIN Employees ON Employees.EmployeeID = Bookings.EmployeeID;
END
"""
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")
print('Creating PeakHours stored procedure')
cursor.execute(peak_hours_query)
print('PeakHours stored procedure created')
print('Creating GuestStatus stored procedure')
cursor.execute(guest_status_query)
print('GuestStatus stored procedure created')

Creating PeakHours stored procedure
PeakHours stored procedure created
Creating GuestStatus stored procedure
GuestStatus stored procedure created

In [11]:
for proc in ['PeakHours', 'GuestStatus']:
    print("\nCalling procedure", proc)
    cursor.callproc(proc)
    results = next(cursor.stored_results())
    dataset = results.fetchall()
    columns = list()
    for column_id in cursor.stored_results():
        columns = [c[0] for c in column_id.description]

    print(columns)
    for d in dataset:
        print(d)

Calling procedure PeakHours
['BookingHours', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Calling procedure GuestStatus
['GuestFullName', 'Employee', 'Status']
('Anna Iversen', 'Manager', 'Ready to pay')
('Joakim Iversen', 'Manager', 'Ready to pay')
('Vanessa McCarthy', 'Head Chef', 'Ready to serve')
('Marcos Romero', 'Assistant Chef', 'Preparing Order')
('Hiroki Yamane', 'Assistant Manager', 'Ready to pay')
('Diana Pinto', 'Head Waiter', 'Order served')

In [12]:
connection1.close()

In [13]:
# from mysql.connector.pooling import MySQLConnectionPool
# from mysql.connector import Error
try:
    dbconfig={"database":"little_lemon_db", "user":"root", "password":""}
    pool = MySQLConnectionPool(pool_size=2, pool_name="pool_b", **dbconfig)
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [14]:
conn1 = pool.get_connection()
cursor1 = conn1.cursor()
insert_bookings_query = """INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES(7, 8, 'Anees', 'Java', '18:00', 6);"""
cursor1.execute(insert_bookings_query)
conn1.commit()
print("Added Anees record to Bookings.")

Added Anees record to Bookings.

In [15]:
conn2 = pool.get_connection()
cursor2 = conn2.cursor()
insert_bookings_query2 = """INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES(8, 5, 'Bald', 'Vin', '19:00', 6);"""
cursor2.execute(insert_bookings_query2)
conn2.commit()
print("Added Bald record to Bookings.")

Added Bald record to Bookings.

In [16]:
try:
    print("Getting 3rd connection")
    conn3 = pool.get_connection()
except:
    print("Getting 3rd connection failed, adding new connection")
    connection = connector.connect(user="root",password="")
    # Add the connection into the pool
    pool.add_connection(cnx=connection)
    conn3 = pool.get_connection()

cursor3 = conn3.cursor()
insert_bookings_query3 = """INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES(9, 12, 'Jay', 'Kon', '19:30', 6);"""
cursor3.execute(insert_bookings_query3)
conn3.commit()
conn3.close()
print("Added Jay record to Bookings.")

Getting 3rd connection
Getting 3rd connection failed, adding new connection
Added Jay record to Bookings.

In [17]:
for i, conn in enumerate([conn1, conn2]):
    if conn.is_connected():
        try:
            conn.close()
            print(f"connection {i+1} is closed.")
        except:
            print()

connection 1 is closed.

In [18]:
connection = pool.get_connection()
cursor = connection.cursor()

In [19]:
# Report
print("The name and EmployeeID of the Little Lemon manager.")
manager_query = "SELECT EmployeeID, Name FROM Employees WHERE Role = 'Manager';"
cursor.execute(manager_query)
dataset = cursor.fetchall()
print(cursor.column_names)
for d in dataset:
    print(d)

print("\nThe name and role of the employee who receives the highest salary.")
highest_salary_query = "SELECT Name, Role FROM Employees ORDER BY Annual_Salary DESC LIMIT 1;"
cursor.execute(highest_salary_query)
dataset = cursor.fetchall()
print(cursor.column_names)
for d in dataset:
    print(d)

print("\nThe number of guests booked between 18:00 and 20:00.")
guest_count_query = "SELECT COUNT(*) AS GuestCount FROM Bookings WHERE HOUR(BookingSlot) BETWEEN 18 AND 20;"
cursor.execute(guest_count_query)
dataset = cursor.fetchall()
print(cursor.column_names)
for d in dataset:
    print(d)

print("\nThe full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.")
guest_waiting_query = """SELECT Bookings.BookingID, CONCAT(GuestFirstName,' ', GuestLastName) AS GuestFullName, Role AS Employee
FROM Bookings 
LEFT JOIN Employees ON Employees.EmployeeID = Bookings.EmployeeID
WHERE Employees.Role = "Receptionist"
ORDER BY BookingSlot DESC;"""
cursor.execute(guest_waiting_query)
dataset = cursor.fetchall()
print(cursor.column_names)
for d in dataset:
    print(d)

The name and EmployeeID of the Little Lemon manager.
('EmployeeID', 'Name')
(1, 'Mario Gollini')

The name and role of the employee who receives the highest salary.
('Name', 'Role')
('Mario Gollini', 'Manager')

The number of guests booked between 18:00 and 20:00.
('GuestCount',)
(7,)

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
('BookingID', 'GuestFullName', 'Employee')
(9, 'Jay Kon', 'Receptionist')
(8, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')

In [20]:
basic_sales_report_query = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT SUM(BillAmount) AS 'Total sales',
        AVG(BillAmount) AS 'Average sale',
        MAX(BillAmount) AS 'Maximum bill paid',
        MIN(BillAmount) AS 'Maximum bill paid'
    FROM Orders;
END
"""
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")
cursor.execute(basic_sales_report_query)
print("Created procedure BasicSalesReport")

Created procedure BasicSalesReport

In [21]:
cursor.callproc("BasicSalesReport")
print("Executed procedure BasicSalesReport")
results = next(cursor.stored_results())
dataset = results.fetchall()
columns = list()

for column_id in cursor.stored_results():
    columns = [c[0] for c in column_id.description]

print(columns)
for d in dataset:
    print(d)

Executed procedure BasicSalesReport
['Total sales', 'Average sale', 'Maximum bill paid', 'Maximum bill paid']
(Decimal('243'), Decimal('48.6000'), 86, 37)

In [22]:
connection.close()

In [23]:
connection = pool.get_connection()
cursor = connection.cursor(buffered=True)

query="""SELECT Bookings.BookingSlot,
CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS GuestName,
CONCAT(Employees.Name, " [", Employees.Role, "]") AS AssignedTo
FROM Bookings 
INNER JOIN 
Employees ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC;"""
cursor.execute(query)
results = cursor.fetchmany(size=3)

for r in results:
    print(f"\nBooking Slot: {r[0]} \nGuest Name: {r[1]} \nAssigned to: {r[2]}")
    
connection.close()

Booking Slot: 15:00:00
Guest Name: Vanessa McCarthy
Assigned to: Giorgos Dioudis [Head Chef]

Booking Slot: 17:30:00
Guest Name: Marcos Romero
Assigned to: Fatma Kaya [Assistant Chef]

Booking Slot: 18:00:00
Guest Name: Anees Java
Assigned to: John Millar [Receptionist]